body {
  margin: 0;
  background: rgb(255, 255, 255);
  font-family: Arial, Helvetica, sans-serif;
}

#menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 25%;
  background-color: #dac7c7d8;
  position: fixed;
  height: 100%;
  overflow: auto;
}
 
#menu ul li {
  display: block;
}
 
#menu ul li a {
  text-align: center;
  padding: 14px 16px;
  color: rgb(0, 0, 0);
  display: inline-block;
  text-decoration: none;
}
 
#menu ul li a:hover {
  color: #066d5f;
}

div {
  margin-left:28%;
  margin-right: 3%;
  padding:1px 16px;
  height:1000px;
}

img {
margin: 5em;
height: 300px;
width: 500px;  
}

.h1principal {
  text-align: center;
  color: #2e8032;
}

.h1secundario {
  color: #2e8032;
  text-align: center;
}

iframe {
  margin-top: 2em;
}